
.title {
  text-decoration: none;
  color: #202F37;
  font-family: 'Helvetica Neue' sans-serif;
  -webkit-font-smoothing: antialiased;
}
.progress .title {
  color: darkgrey;
  font-weight: bold;
  font-size: 1.2em;
  display: block;
}

.progress {
  padding: 1em 1em 60em 1em;
}

.progress li {
  list-style: none;
  padding-bottom: 4em;
}

.progress .progress-bar {
  padding-top: .6em;
  padding-bottom: .6em;
  font: 7px;
  vertical-align: top;
}
 h1 {
   text-align: left;
   color: #202F37;
 }

 h3 {
   color: #202F37;
 }

 .page-header {
   padding-bottom: 9px;
   margin: 40px 0 20px;
   border-bottom: none;
 }
