

.progress {
  padding: 1em 1em 20em 1em;
}

.progress li {
  list-style: none;
  padding-bottom: 1em;
}

.progress a {
  padding-bottom: 2em;
  padding-top: 2em;
}

.progress .progress-bar {
  padding-top: .6em;
  padding-bottom: .6em;
  font: 7px;
  vertical-align: top;
}
