

.progress {
  padding: 1em 1em 40em 1em;
}

.progress .title {
  color: darkgrey;
  font-weight: bold;
  font-size: 1.2em;
  display: block;
}


.progress li {
  list-style: none;
  padding-bottom: 4em;
}

.progress .progress-bar {
  padding-top: .6em;
  padding-bottom: .6em;
  font: 7px;
  vertical-align: top;
}
