h1 {
  text-align: left;
  color: #202F37;
}

h3 {
  color: #202F37;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: none;
}

/* .container-fluid {
  background-color: #E3E7E9;
} */

a {
  text-decoration: none;
  color: #202F37;
  font-family: 'Helvetica Neue' sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.3em;
  font-weight:500;
}

p {
  font-family: 'Helvetica Neue' sans-serif;
  color: #727D84;
  margin: 0px;

}
