h1 {
  text-align: left;
  color: #202F37;
}

h3 {
  color: #202F37;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: none;
}

/* .container-fluid {
  background-color: #E3E7E9;
} */

a {
  text-decoration: none;
  color: #202F37;
  font-family: 'Helvetica Neue' sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.3em;
  font-weight:500;
}

p {
  font-family: 'Helvetica Neue' sans-serif;
  color: #727D84;
  margin: 0px;

}
body.ng-scope{
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.header_wrap{
  background-color: #39474E;
  padding: 20px 0;
}

header.main {
  background-color: #39474E;
  background-repeat: repeat;
}

img.logo {
  float:left;
  max-width: 100%;
  max-height: 100%;
}

nav.btn-group {
  float:right;
  padding-top: 32px;
  border-radius: 10px;
}

.btn-default:hover {
  color: #39474E;
  background-color: #5B9D99;
  border-color: #5B9D99;
}

.btn:focus {
  outline: none;
  border-color: #39474E;
}

.btn {
  background: #6fbbb7;
  border-color: #39474E;
}
