
<div class="container">
  <div class="gradebook col-lg-12">
    <h1>TIY Orlando Gradebook</h1>
    <h3>2015--SUMMER--FEE</h3>
    <ul class="milestones progress">
      <li>
        <h4>00--Brace Yourself</h4>
        <div class="progress-bar progress-bar-success" style="width: 0%">
          <span class="sr-only">0% Complete (0)</span>
        </div>
        <div class="progress-bar progress-bar-success" style="width: 60%">
          <span class="sr-only">60% Complete (6)</span>
        </div>
        <div class="progress-bar progress-bar-success" style="width: 30%">
          <span class="sr-only">30% Complete (3)</span>
        </div>
        <div class="progress-bar progress-bar-success" style="width: 10%">
          <span class="sr-only">10% Incomplete (1)</span>
        </div>
      </li>
      <li>
        <h4>01--Right Mindset</h4>
        <div class="progress-bar progress-bar-success" style="width: 36%">
          <span class="sr-only">36% Complete (4)</span>
        </div>
        <div class="progress-bar progress-bar-success" style="width: 45%">
          <span class="sr-only">45% Complete (5)</span>
        </div>
        <div class="progress-bar progress-bar-success" style="width: 9%">
          <span class="sr-only">9% Complete (1)</span>
        </div>
        <div class="progress-bar progress-bar-success" style="width: 9%">
          <span class="sr-only">9% Incomplete (1)</span>
        </div>
      </li>
      <li>
        <h4>TodoCLI, Part 1</h4>
        <div class="progress-bar progress-bar-success" style="width: 20%">
          <span class="sr-only">20% Complete (2)</span>
        </div>
        <div class="progress-bar progress-bar-success" style="width: 30%">
          <span class="sr-only">30% Complete (3)</span>
        </div>
        <div class="progress-bar progress-bar-success" style="width: 50%">
          <span class="sr-only">50% Complete (5)</span>
        </div>
        <div class="progress-bar progress-bar-success" style="width: 0%">
          <span class="sr-only">0% Incomplete (0)</span>
        </div>
      </li>
      <li>
        <h4>{{Milestone Name}}</h4>
        <div class="progress-bar progress-bar-success" style="width: {{percent.review}}%">
          <span class="sr-only">{{percent.review}}% Complete ({{num.complete}})</span>
        </div>
        <div class="progress-bar progress-bar-success" style="width: {{percent.review}}%">
          <span class="sr-only">{{percent.review}}% Complete ({{num.complete}})</span>
        </div>
        <div class="progress-bar progress-bar-success" style="width: {{percent.review}}%">
          <span class="sr-only">{{percent.review}}% Complete ({{num.complete}})</span>
        </div>
        <div class="progress-bar progress-bar-success" style="width: {{percent.review}}%">
          <span class="sr-only">{{precent.review}}% Complete ({{num.complete}})</span>
        </div>
      </li>
    </ul>
  </div>
</div>
