

<main class="container-fluid">
  <h1>TIY Orlando Gradebook</h1>
    <h3>2015--SUMMER--FEE</h3>
    <ul class="progress" ng-controller="CohortController as cohort">
      <li>
        <a href="#">Your Title</a><br>    <!-- ng-repeat="assignment in cohort.assignments"-->
        <div class="progress-bar progress-bar-success" style="width: 20%">
          <span>Job (2)</span>
        </div>
        <div class="progress-bar progress-bar-warning" style="width: 50%">
          <span>Keep Practicing (5)</span>
        </div>
        <div class="progress-bar progress-bar-danger" style="width: 30%">
          <span>Not Yet (3)</span>
        </div>
      </li>
      <li>
        <a href="#">00--Brace Yourselves</a><br>    <!-- ng-repeat="assignment in cohort.assignments"-->
        <div class="progress-bar progress-bar-success" style="width: 10%">
          <span>Good (1)</span>
        </div>
        <div class="progress-bar progress-bar-warning" style="width: 30%">
          <span>Keep Practicing (3)</span>
        </div>
        <div class="progress-bar progress-bar-danger" style="width: 40%">
          <span>Not Yet (4)</span>
        </div>
        <div class="progress-bar default" style="width: 20%">
          <span>Not Completed (2)</span>
        </div>
      </li>
      <li>
        <a href="#">01--Right Mindset</a><br>    <!-- ng-repeat="assignment in cohort.assignments"-->
        <div class="progress-bar progress-bar-success" style="width: 40%">
          <span>Good (4)</span>
        </div>
        <div class="progress-bar progress-bar-warning" style="width: 20%">
          <span>Keep Practicing (2)</span>
        </div>
        <div class="progress-bar progress-bar-danger" style="width: 10%">
          <span>Not Yet (1)</span>
        </div>
        <div class="progress-bar progress-bar-default" style="width: 30%">
          <span>Not Completed (3)</span>
        </div>
      </li>
   </ul>
</div>


    </ul>
  </main>
