<div class="container-fluid">
<div class="gradebook col-lg-12">
  <h1 class="page-header">TIY Orlando GradeBook</h1>

<!-- Start of list of repos (Reference implementation (bootstrap)-->
    <nav class="classes">
      <h3>Availabe Classes</h3>
      <ul class="classes list-group">
      <li class="list-group-item"><a href="#">2015--SUMMER--iOS</a><br>Chupa chups jujubes candy caramels chupa chups...
      </li>
      <li class="list-group-item"><a href="#">2015--SUMMER--ROR</a><br>Cotton candy apple pie sesame snaps bonbon...
      </li>
      <li class="list-group-item"><a href="#">2015--SUMMER--FEE</a><br>Tootsie roll carrot cake sweet roll candy...
      </li>
      <li class="list-group-item"><a href="#">ROR--2015--SPRING</a><br>Lemon drops gingerbread marshmallow muffin...
      </li>
      <li class="list-group-item"><a href="#">iOS--2015--SPRING</a><br>Icing bear claw halvah muffin...
      </li>
      <li class="list-group-item"><a href="#">FEE--2015--SPRING</a><br>Jelly-o gummies muffin tiramisu...
      </li>
      <li class="list-group-item"><a href="#">FEE--2014--FALL</a><br>Oat cake sugar plum donut...
      </li>
    </nav>

</div>
  </ul> <!-- End of list of repos -->
</div>
</div>
