<main class="container-fluid">
<div class="gradebook col-lg-12">
  <h1 class="page-header">TIY Orlando Gradebook</h1>

<!-- Start of list of repos (Reference implementation (bootstrap)-->
    <nav class="classes">
      <h3>Availabe Classes</h3>
      <ul class="classes list-group">
      <li class="list-group-item">
        <a href="#" ng-click="app.page('milestones')">2015--SUMMER--iOS</a>
        <br><p> Chupa chups jujubes candy caramels chupa chups...</p>
      </li>
      <li class="list-group-item">
        <a href="#" ng-click="app.page('milestones')">2015--SUMMER--ROR</a>
        <br><p>Cotton candy apple pie sesame snaps bonbon...</p>
      </li>
      <li class="list-group-item">
        <a href="#" ng-click="app.page('milestones')">2015--SUMMER--FEE</a>
        <br><p>Tootsie roll carrot cake sweet roll candy...</p>
      </li>
      <li class="list-group-item">
        <a href="#" ng-click="app.page('milestones')">ROR--2015--SPRING</a>
        <br><p>Lemon drops gingerbread marshmallow muffin...</p>
      </li>
      <li class="list-group-item">
        <a href="#" ng-click="app.page('milestones')">iOS--2015--SPRING</a>
        <br><p>Icing bear claw halvah muffin...</p>
      </li>
      <li class="list-group-item">
        <a href="#" ng-click="app.page('milestones')">FEE--2015--SPRING</a>
        <br><p>Jelly-o gummies muffin tiramisu...</p>
      </li>
      <li class="list-group-item">
        <a href="#" ng-click="app.page('milestones')">FEE--2014--FALL</a>
        <br><p>Oat cake sugar plum donut...</p>
      </li>
    </nav>

</div>
  </ul> <!-- End of list of repos -->
</div>
</main>
